body {
  padding-top: 50px;
}

#about-me li + li {
  margin-top: 0.5em;
}

#portrait {
  margin-bottom: 1em;
}

#profiles ul {
  margin-top: 1em;
}

#profiles li {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

#profiles li:hover {
  transform: rotate(30deg) scale(0.5);
}

#profiles i {
  font-size: 10em;
}

#sections h1 {
  border-bottom: 1px dotted #CCC;
  margin-bottom: 1em;
}

.jumbotron p {
  margin-bottom: 5px;
}
